/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/Aliquot.Kinvo/.vs/Aliquot.Kinvo/v16/Server/sqlite3
/.vs